USE [master]
GO
/****** Object:  Database [QLDIENDANCONGNGHE]    Script Date: 5/26/2019 4:48:09 PM ******/
CREATE DATABASE [QLDIENDANCONGNGHE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDIENDANCONGNGHE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLDIENDANCONGNGHE.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDIENDANCONGNGHE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLDIENDANCONGNGHE_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDIENDANCONGNGHE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDIENDANCONGNGHE]
GO
/****** Object:  User [Simon]    Script Date: 5/26/2019 4:48:09 PM ******/
CREATE USER [Simon] FOR LOGIN [Simon] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Ad]    Script Date: 5/26/2019 4:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ad](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BaiGui]    Script Date: 5/26/2019 4:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BaiGui](
	[MaBaiGui] [int] IDENTITY(1,1) NOT NULL,
	[MaChuDe] [nvarchar](50) NOT NULL,
	[MaCongDong] [nvarchar](50) NOT NULL,
	[MaLinhVuc] [nvarchar](50) NOT NULL,
	[NguoiGui] [nvarchar](50) NOT NULL,
	[SoDienThoai] [varchar](10) NULL,
	[Email] [varchar](50) NOT NULL,
	[NgayGuiBai] [datetime] NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaiGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 5/26/2019 4:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[MaChuDe] [nvarchar](50) NOT NULL,
	[TenChuDe] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CongDong]    Script Date: 5/26/2019 4:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongDong](
	[MaCongDong] [nvarchar](50) NOT NULL,
	[TenCongDong] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCongDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LinhVuc]    Script Date: 5/26/2019 4:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinhVuc](
	[MaLinhVuc] [nvarchar](50) NOT NULL,
	[TenLinhVuc] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLinhVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiSuDung]    Script Date: 5/26/2019 4:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiSuDung](
	[MaNguoiSuDung] [int] IDENTITY(1,1) NOT NULL,
	[MaBaiGui] [int] NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [datetime],
	[SoDienThoai] [varchar](10) NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK__NguoiSuD__813F9047FC37D9FD] PRIMARY KEY CLUSTERED 
(
	[MaNguoiSuDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChuDe] ([MaChuDe], [TenChuDe]) VALUES (N'CDE01', N'Smartphone')
INSERT [dbo].[ChuDe] ([MaChuDe], [TenChuDe]) VALUES (N'CDE02', N'Smartwatch')
INSERT [dbo].[ChuDe] ([MaChuDe], [TenChuDe]) VALUES (N'CDE03', N'Tablet')
INSERT [dbo].[CongDong] ([MaCongDong], [TenCongDong]) VALUES (N'CD01', N'iOS')
INSERT [dbo].[CongDong] ([MaCongDong], [TenCongDong]) VALUES (N'CD02', N'Android')
INSERT [dbo].[CongDong] ([MaCongDong], [TenCongDong]) VALUES (N'CD03', N'Windows')
INSERT [dbo].[LinhVuc] ([MaLinhVuc], [TenLinhVuc]) VALUES (N'LV01', N'Game')
INSERT [dbo].[LinhVuc] ([MaLinhVuc], [TenLinhVuc]) VALUES (N'LV02', N'Xe')
ALTER TABLE [dbo].[BaiGui]  WITH CHECK ADD  CONSTRAINT [FK_BaiGui_ChuDe] FOREIGN KEY([MaChuDe])
REFERENCES [dbo].[ChuDe] ([MaChuDe])
GO
ALTER TABLE [dbo].[BaiGui] CHECK CONSTRAINT [FK_BaiGui_ChuDe]
GO
ALTER TABLE [dbo].[BaiGui]  WITH CHECK ADD  CONSTRAINT [FK_BaiGui_CongDong] FOREIGN KEY([MaCongDong])
REFERENCES [dbo].[CongDong] ([MaCongDong])
GO
ALTER TABLE [dbo].[BaiGui] CHECK CONSTRAINT [FK_BaiGui_CongDong]
GO
ALTER TABLE [dbo].[BaiGui]  WITH CHECK ADD  CONSTRAINT [FK_BaiGui_LinhVuc] FOREIGN KEY([MaLinhVuc])
REFERENCES [dbo].[LinhVuc] ([MaLinhVuc])
GO
ALTER TABLE [dbo].[BaiGui] CHECK CONSTRAINT [FK_BaiGui_LinhVuc]
GO
ALTER TABLE [dbo].[NguoiSuDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiSuDung_BaiGui] FOREIGN KEY([MaBaiGui])
REFERENCES [dbo].[BaiGui] ([MaBaiGui])
GO
ALTER TABLE [dbo].[NguoiSuDung] CHECK CONSTRAINT [FK_NguoiSuDung_BaiGui]
GO
USE [master]
GO
