USE [master]
GO
/****** Object:  Database [QLDIENDANCONGNGHE]    Script Date: 7/6/2019 12:20:40 AM ******/
CREATE DATABASE [QLDIENDANCONGNGHE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDIENDANCONGNGHE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLDIENDANCONGNGHE.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDIENDANCONGNGHE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLDIENDANCONGNGHE_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDIENDANCONGNGHE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDIENDANCONGNGHE]
GO
/****** Object:  User [Simon]    Script Date: 7/6/2019 12:20:40 AM ******/
CREATE USER [Simon] FOR LOGIN [Simon] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Ad]    Script Date: 7/6/2019 12:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ad](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BaiGui]    Script Date: 7/6/2019 12:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiGui](
	[MaBaiGui] [int] IDENTITY(1,1) NOT NULL,
	[MaChuDe] [int] NOT NULL,
	[MaCongDong] [int] NOT NULL,
	[MaLinhVuc] [int] NOT NULL,
	[MaNguoiSuDung] [int] NOT NULL,
	[NgayGuiBai] [datetime] NOT NULL,
	[TenBai] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK__BaiGui__3F2648C96C8A1C3B] PRIMARY KEY CLUSTERED 
(
	[MaBaiGui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 7/6/2019 12:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[MaChuDe] [int] IDENTITY(1,1) NOT NULL,
	[TenChuDe] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__ChuDe__3585451130EE47D6] PRIMARY KEY CLUSTERED 
(
	[MaChuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CongDong]    Script Date: 7/6/2019 12:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongDong](
	[MaCongDong] [int] IDENTITY(1,1) NOT NULL,
	[TenCongDong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__CongDong__1EED1953205D0A89] PRIMARY KEY CLUSTERED 
(
	[MaCongDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LinhVuc]    Script Date: 7/6/2019 12:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinhVuc](
	[MaLinhVuc] [int] IDENTITY(1,1) NOT NULL,
	[TenLinhVuc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__LinhVuc__318894A03770BA3E] PRIMARY KEY CLUSTERED 
(
	[MaLinhVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiSuDung]    Script Date: 7/6/2019 12:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiSuDung](
	[MaNguoiSuDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[SoDienThoai] [varchar](10) NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK__NguoiSuD__813F9047FC37D9FD] PRIMARY KEY CLUSTERED 
(
	[MaNguoiSuDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BaiGui]  WITH CHECK ADD  CONSTRAINT [FK_BaiGui_ChuDe] FOREIGN KEY([MaChuDe])
REFERENCES [dbo].[ChuDe] ([MaChuDe])
GO
ALTER TABLE [dbo].[BaiGui] CHECK CONSTRAINT [FK_BaiGui_ChuDe]
GO
ALTER TABLE [dbo].[BaiGui]  WITH CHECK ADD  CONSTRAINT [FK_BaiGui_CongDong] FOREIGN KEY([MaCongDong])
REFERENCES [dbo].[CongDong] ([MaCongDong])
GO
ALTER TABLE [dbo].[BaiGui] CHECK CONSTRAINT [FK_BaiGui_CongDong]
GO
ALTER TABLE [dbo].[BaiGui]  WITH CHECK ADD  CONSTRAINT [FK_BaiGui_LinhVuc] FOREIGN KEY([MaLinhVuc])
REFERENCES [dbo].[LinhVuc] ([MaLinhVuc])
GO
ALTER TABLE [dbo].[BaiGui] CHECK CONSTRAINT [FK_BaiGui_LinhVuc]
GO
ALTER TABLE [dbo].[BaiGui]  WITH CHECK ADD  CONSTRAINT [FK_BaiGui_NguoiSuDung] FOREIGN KEY([MaNguoiSuDung])
REFERENCES [dbo].[NguoiSuDung] ([MaNguoiSuDung])
GO
ALTER TABLE [dbo].[BaiGui] CHECK CONSTRAINT [FK_BaiGui_NguoiSuDung]
GO
USE [master]
GO
